body {
	background: white;
	position:relative;
	height:100%;
	width: 100%
	overflow:hidden;
}

.top-navigation {
	background-color:black;
	position:fixed;
	width: 100%;
	z-index: 9999;
  opacity: 0.5;
}

h1 {
	font-size: 40px;
  color: #66b313;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
  text-align:left;
}



.karma img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

  
}

.karma h1{
  font-size: 20px;
  font-style:"Helvetica Neue",Helvetica,sans-serif;
  color: black;
  position: relative;
  left: 300px;
  
}
  
.karma a {
    font-weight: 400;
    display:inline-block ;
    border-radius: 40px;
    transition: .2s all linear;
    padding: 6px 32px 6px 12px;
    position: relative;
    color: #66b313;
    border: 2px solid #7ed321;
    text-decoration:none;
    font-size: 20px;
    margin-top: 5px;
    position: relative;
    left: 300px;
    
}


.hack img {
  background: #eaeaed;
  border: 10px solid #9799a7;
  margin-top: 90px;
  width: 50%;
  position: relative;
  left: 300px;

}

.hack h1{
  font-size: 20px;
  font-style:"Helvetica      Neue",Helvetica,sans-serif;
  color: black;
  position: relative;
  left: 300px;

  
  
}

